# Ultralytics RT-DETR-l with P2/4 - P4/16 outputs (3 detection levels, no P5)
nc: 80 # number of classes
scales:
  l: [1.00, 1.00, 1024]

backbone:
  # [from, repeats, module, args]
  - [-1, 1, HGStem, [32, 48]]              # 0-P2/4
  - [-1, 6, HGBlock, [48, 128, 3]]         # 1-stage 1
  - [-1, 1, DWConv, [128, 3, 2, 1, False]] # 2-P3/8
  - [-1, 6, HGBlock, [96, 512, 3]]         # 3-stage 2
  - [-1, 1, DWConv, [512, 3, 2, 1, False]] # 4-P4/16
  - [-1, 6, HGBlock, [192, 1024, 5, True, False]]
  - [-1, 6, HGBlock, [192, 1024, 5, True, True]]
  - [-1, 6, HGBlock, [192, 1024, 5, True, True]] # 7-stage 3

head:
  - [-1, 1, Conv, [256, 1, 1, None, 1, 1, False]]  # 8 input_proj.2 (P4)
  - [-1, 1, AIFI, [1024, 8]]                        # 9
  - [-1, 1, Conv, [256, 1, 1]]                      # 10 Y4, lateral_convs.0
  
  - [-1, 1, nn.Upsample, [None, 2, "nearest"]]      # 11
  - [3, 1, Conv, [256, 1, 1, None, 1, 1, False]]    # 12 input_proj.1 (P3)
  - [[-2, -1], 1, Concat, [1]]                      # 13
  - [-1, 3, RepC3, [256]]                           # 14 fpn_blocks.0
  - [-1, 1, Conv, [256, 1, 1]]                      # 15 Y3, lateral_convs.1
  
  - [-1, 1, nn.Upsample, [None, 2, "nearest"]]      # 16
  - [1, 1, Conv, [256, 1, 1, None, 1, 1, False]]    # 17 input_proj.0 (P2)
  - [[-2, -1], 1, Concat, [1]]                      # 18
  - [-1, 3, RepC3, [256]]                           # 19 X2, fpn_blocks.1
  
  - [-1, 1, Conv, [256, 3, 2]]                      # 20 downsample_convs.0
  - [[-1, 15], 1, Concat, [1]]                      # 21
  - [-1, 3, RepC3, [256]]                           # 22 F3, pan_blocks.0
  
  - [-1, 1, Conv, [256, 3, 2]]                      # 23 downsample_convs.1
  - [[-1, 10], 1, Concat, [1]]                      # 24
  - [-1, 3, RepC3, [256]]                           # 25 F4, pan_blocks.1
  
  - [[19, 22, 25], 1, RTDETRDecoder, [nc]]          # Detect(P2, P3, P4)